/**
 * @name Eye Candy
 * @author Mudrhiod
 * @authorId 807170846497570848
 * @description Vencord port of Hanibee's Eye Candy theme.
 * @version 1.0.1
 * @updateUrl https://mudrhiod.github.io/VencordThemes/eyecandy.css
 * @source https://github.com/mudrhiod/VencordThemes
 */

 @import url("https://nspc911.github.io/themes/vencord/RefreshedSeamlessChatBar.theme.css");
 @import url("https://nspc911.github.io/themes/vencord/ChatRelatedAlertsAtTop.theme.css");

 :root, .theme-dark {

    /* eye candy vars */
    --ec-bg1: oklch(41.264% 0.0233 291.865);
    --ec-bg2: oklch(36.954% 0.02048 289.149);
    --ec-bg3: oklch(40.149% 0.02346 291.828);
    --ec-bginput: oklch(43.946% 0.03201 318.121);
    --ec-bgcard: oklch(39.54% 0.02534 294.348);
    --ec-border: oklch(52.204% 0.0282 290.452);

    --ec-button: oklch(46.963% 0.02088 289.062);
    --ec-button-hover: oklch(38.009% 0.01695 290.119);
    
    --ec-accent: oklch(72.785% 0.07856 77.143);
    --ec-accent-hover: oklch(66.032% 0.09643 76.273);
    --ec-accent2: oklch(71.271% 0.08103 345.993);
    --ec-accent2-hover: oklch(62.56% 0.11033 347.554);

    --ec-blue: oklch(68.927% 0.06685 83.719);
    --ec-green: oklch(78.71% 0.07614 83.795);
    --ec-red: oklch(70.712% 0.06975 52.907);
    --ec-pink: oklch(70.712% 0.06329 347.277);
    --ec-purple: oklch(57.244% 0.09347 317.808);
    --ec-yellow: oklch(77.649% 0.08304 83.296);

    --ec-hover1: #cfc7d83e; /* main hover */
    --ec-hover2: #10132026;

    --ec-text1: oklch(93.157% 0.00278 285.781);
    --ec-text2: oklch(80.502% 0.01969 282.637);
    --ec-text3: oklch(79.22% 0.05233 327.013);

    --chat-bubble-bg: oklch(39.026% 0.02363 291.788) !important; /* chat bubble background obviously */
    
    --activity-card-background: var(--ec-bg2) !important;
    --app-frame-background: var(--ec-bg3) !important;
    --app-border-frame: var(--ec-border);
    --background-accent: var(--ec-accent2) !important;
    --background-base-low: var(--ec-bg1) !important;
    --background-base-lower: var(--ec-bg1) !important;
    --background-base-lowest: var(--ec-bg2) !important;
    --background-code: var(--ec-bgcard) !important;
    --background-feedback-critical: #c4957866 !important;
    --background-feedback-info: #BDBAEB20;
    --background-feedback-warning: #BDBAEB26;
    --background-floating: var(--ec-button) !important;
    --background-mentioned: #BDBAEB17 !important;
    --background-mentioned-hover: var(--ec-hover2) !important;
    --background-message-automod: rgba(244, 219, 214, 0.05);
    --background-message-automod-hover: rgba(244, 219, 214, 0.1);
    --background-message-highlight: #3f3e4abf !important;
    --background-message-highlight-hover: #3e4a42bf !important;
    --background-message-hover: var(--ec-hover2) !important;
    --background-mobile-primary: var(--ec-bg2);
    --background-mobile-secondary: var(--ec-bg1);
    --background-mod-faint: var(--ec-bgcard) !important;
    --background-modifier-active: var(--ec-button) !important;
    --background-modifier-accent: var(--ec-border) !important;
    --background-modifier-hover: var(--ec-hover1) !important;
    --background-modifier-selected: var(--ec-button) !important;
    --background-mod-normal: var(--ec-button);
    --background-mod-strong: var(--ec-bg2);
    --background-mod-subtle: var(--ec-bg2) !important;
    --background-nested-floating: var(--ec-bg1);
    --background-primary: var(--ec-bg1) !important;
    --background-secondary: var(--ec-bg2) !important;
    --background-secondary-alt: var(--ec-bgcard) !important;
    --background-surface-high: var(--ec-bg2) !important;
    --background-surface-higher: var(--ec-bgcard) !important;
    --background-surface-highest: var(--ec-bgcard) !important;
    --background-tertiary: var(--ec-bg2) !important;
    --badge-brand-text: var(--ec-bg2);
    --bg-base-secondary: var(--ec-bg2) !important;
    --bg-base-tertiary: var(--ec-bg2) !important;
    --bg-brand: var(--ec-accent) !important;
    --bg-mod-faint: #51505e !important;
    --bg-mod-strong: var(--ec-border) !important;
    --bg-mod-subtle: var(--ec-hover1) !important;
    --bg-overlay-floating: var(--ec-bg1);
    --bg-surface-overlay: var(--ec-bgcard) !important;
    --bg-surface-raised: var(--ec-bg1);
    --black-500: var(--ec-bg2);
    --blue-330: var(--ec-blue) !important;
    --blurple-50: var(--ec-accent2);
    --border-normal: var(--app-border-frame);
    --border-subtle: var(--app-border-frame) !important;
    --brand-10a: var(--ec-hover2);
    --brand-260: var(--ec-blue);
    --brand-360: var(--ec-accent) !important;
    --brand-500: var(--ec-accent) !important;
    --brand-560: hsl(36, 41%, 71%) !important;
    --button-danger-background: var(--ec-red) !important;
    --button-danger-background-active: #956141 !important;
    --button-danger-background-hover: color-mix(in oklch, var(--ec-red), black 10%);
    --button-filled-brand-background: var(--ec-accent);
    --button-filled-brand-background-active: #906e3c !important;
    --button-filled-brand-background-hover: var(--ec-accent-hover);
    --button-filled-brand-border: var(--ec-accent) !important;
    --button-filled-brand-inverted-background: var(--ec-accent2) ;
    --button-filled-brand-inverted-background-active: #a24e7b !important;
    --button-filled-brand-inverted-background-hover: #b86b94 !important;
    --button-filled-brand-inverted-text: var(--ec-bg2);
    --button-filled-brand-text: var(--ec-bg2);
    --button-outline-danger-background: var(--ec-red) !important;
    --button-outline-danger-background-active: #956141 !important;
    --button-outline-danger-background-hover: color-mix(in oklch, var(--ec-red), black 10%);
    --button-outline-danger-border: var(--ec-red) !important;
    --button-outline-danger-border-active: #956141 !important;
    --button-outline-danger-border-hover: color-mix(in oklch, var(--ec-red), black 10%);
    --button-outline-danger-text: var(--ec-bg2) !important;
    --button-outline-danger-text-active: var(--ec-bg2) !important;
    --button-outline-danger-text-hover: var(--ec-bg2) !important;
    --button-outline-primary-background-hover: var(--ec-accent-hover);
    --button-outline-primary-border: var(--ec-accent);
    --button-outline-primary-border-active: var(--ec-accent);
    --button-outline-primary-border-hover: var(--ec-accent-hover);
    --button-outline-primary-text: var(--ec-text1);
    --button-outline-primary-text-active: var(--ec-bg2);
    --button-outline-primary-text-hover: var(--ec-bg2);
    --button-positive-background: #D1B681 !important;
    --button-positive-background-active: #ac883e !important;
    --button-positive-background-disabled: #D1B681;
    --button-positive-background-hover: #c3a15c !important;
    --button-secondary-background: var(--ec-button) !important;
    --button-secondary-background-active: #29282e !important;
    --button-secondary-background-disabled: var(--ec-button);
    --button-secondary-background-hover: var(--ec-button-hover) !important;
    --button-secondary-text: var(--ec-text1) !important;
    --card-primary-bg: var(--ec-bgcard) !important;
    --channel-icon: var(--ec-text2) !important;
    --channels-default: var(--ec-text2) !important;
    --channeltextarea-background: var(--ec-bgcard);
    --channel-text-area-placeholder: var(--ec-text3);
    --chat-background: var(--ec-bg2);
    --chat-background-default: var(--ec-bg2) !important;
    --chat-border: var(--ec-bg2);
    --chat-input-container-background: var(--ec-bg2);
    --chat-text-muted: var(--ec-text3) !important;
    --checkbox-background-checked: #C5A361 !important;
    --checkbox-border-checked: #C2A775 !important;
    --control-background-active-active: color-mix(in oklch, var(--ec-green), black 20%);
    --control-background-active-default: var(--ec-green);
    --control-background-active-hover: color-mix(in oklch, var(--ec-green), black 10%);
    --control-background-critical-primary-active: color-mix(in oklch, var(--ec-red), black 20%);
    --control-background-critical-primary-default: var(--ec-red);
    --control-background-critical-primary-hover: color-mix(in oklch, var(--ec-red), black 10%);
    --control-background-critical-secondary-default: var(--ec-button);
    --control-background-critical-secondary-hover: var(--ec-button-hover);
    --control-background-primary-active: color-mix(in oklch, var(--ec-accent), black 20%);
    --control-background-primary-default: var(--ec-accent);
    --control-background-primary-hover: var(--ec-accent-hover);
    --control-background-secondary-default: var(--ec-button);
    --control-background-secondary-hover: var(--ec-button-hover);
    --control-border-primary-active: color-mix(in oklch, var(--ec-accent), black 20%);
    --control-border-primary-default: var(--ec-accent);
    --control-critical-secondary-text-default: var(--ec-red);
    --control-primary-background-active: color-mix(in oklch, var(--ec-accent), black 20%);
    --control-primary-background-default: var(--ec-accent);
    --control-primary-background-hover: color-mix(in oklch, var(--ec-accent), black 10%);
    --control-primary-border-active: color-mix(in oklch, var(--ec-accent), black 20%);
    --control-primary-border-default: var(--ec-accent);
    --control-primary-border-hover: var(--ec-accent);
    --control-primary-text-active: var(--ec-bg2);
    --control-primary-text-default: var(--ec-bg2);
    --control-primary-text-hover: var(--ec-bg2);
    --control-text-active-active: var(--ec-bg2);
    --control-text-active-default: var(--ec-bg2);
    --control-text-active-hover: var(--ec-bg2);
    --control-text-critical-primary-active: var(--ec-bg2);
    --control-text-critical-primary-default: var(--ec-bg2);
    --control-text-critical-primary-hover: var(--ec-bg2);
    --control-text-critical-secondary-hover: var(--ec-red);
    --control-text-primary-active: var(--ec-bg2);
    --control-text-primary-default: var(--ec-bg2);
    --control-text-primary-hover: var(--ec-bg2);
    --control-text-critical-secondary-default: var(--ec-red);
    --control-brand-foreground-new: #9F8657 !important;
    --custom-channel-members-bg: var(--ec-bg1);
    --custom-status-bubble-background: var(--ec-bg2) !important;
    --custom-status-bubble-background-color: var(--ec-bg1) !important;
    --deprecated-text-input-bg: var(--ec-bginput) !important;
    --deprecated-text-input-border: var(--ec-border) !important;
    --green-230: var(--ec-green);
    --green-300: var(--ec-green);
    --green-360: var(--ec-green);
    --guild-boosting-blue: var(--ec-blue);
    --guild-boosting-pink: #BF91A8;
    --guild-boosting-purple: #BF91A8;
    --header-primary: var(--ec-text1) !important;
    --header-secondary: var(--ec-text2) !important;
    --home-background: var(--ec-bg2);
    --icon-default: var(--ec-text1);
    --icon-muted: var(--ec-text2);
    --icon-primary: var(--ec-text1);
    --icon-secondary: var(--ec-text1) !important;
    --icon-subtle: var(--ec-text1);
    --icon-tertiary: var(--ec-text2) !important;
    --info-danger-text: var(--ec-text1);
    --icon-feedback-warning: #BDBAEB;
    --info-help-background: var(--ec-yellow)26 !important;
    --info-help-foreground: #BDBAEB;
    --info-help-text: var(--ec-text1);
    --info-positive-background: #D1B68126;
    --info-positive-foreground: #D1B681;
    --info-positive-text: var(--ec-text1);
    --info-warning-background: #BDBAEB26 !important;
    --info-warning-foreground: #BDBAEB !important;
    --info-warning-text: var(--ec-text1) !important;
    --input-background: var(--ec-bginput) !important;
    --input-border-active: var(--ec-accent2);
    --input-placeholder-text: var(--ec-text3) !important;
    --input-placeholder-text-default: var(--ec-text3);
    --interactive-active: var(--ec-text1);
    --interactive-hover: var(--ec-text1);
    --interactive-muted: var(--ec-text3);
    --interactive-normal: var(--ec-text1) !important;
    --interactive-text-default: var(--ec-text1);
    --logo-primary: var(--ec-text1);
    --mention-background: #DFBE804D !important;
    --mention-foreground: #DFBE80 !important;
    --message-mentioned-background-default: #BDBAEB17;
    --message-reacted-background: #C88EAD33 !important;
    --message-reacted-text: var(--ec-text1) !important;
    --modal-background: var(--ec-bg2) !important;
    --modal-footer-background: var(--ec-bg2) !important;
    --notice-background-critical: var(--ec-red);
    --notice-background-positive: #D1B681 !important;
    --notice-background-warning: var(--ec-yellow);
    --notice-text-critical: var(--ec-bg2);
    --notice-text-info: var(--ec-bg2);
    --notice-text-positive: var(--ec-bg2) !important;
    --notice-text-warning: var(--ec-bg2);
    --opacity-black-40: var(--ec-bg1);
    --opacity-blurple-8: #C3A16E33;
    --opacity-blurple-16: #C3A16E33;
    --plum-23: var(--ec-bg2);
    --polls-victor-fill: #D1B68133;
    --polls-voted-fill: var(--ec-border);
    --premium-perk-blue: var(--ec-blue);
    --premium-perk-dark-blue: #957e50;
    --premium-perk-green: #D1B681;
    --premium-perk-light-blue: #d2c6ac;
    --premium-perk-orange: #B2814D;
    --premium-perk-pink: #C88EAD;
    --premium-perk-purple: #7D2D59;
    --premium-perk-yellow: var(--ec-yellow);
    --premium-tier-0-blue: var(--ec-blue);
    --premium-tier-0-header-gradient-1: #EEB1CA;
    --premium-tier-0-header-gradient-2: #DCB975;
    --premium-tier-0-header-gradient-3: #DCB975;
    --premium-tier-0-header-gradient-4: #EEB1CA;
    --premium-tier-0-header-gradient-5: #EEB1CA;
    --premium-tier-0-purple: #7D2D59;
    --premium-tier-1-blue-for-gradients: var(--ec-blue);
    --premium-tier-1-dark-blue-for-gradients: #957e50;
    --premium-tier-2-pink-for-gradients: #BF91A8;
    --premium-tier-2-purple-for-gradients: #BF91A8;
    --premium-tier-2-purple-for-gradients-2: #BF91A8;
    --primary-700: var(--ec-button);
    --primary-800: var(--ec-bg2);
    --red-345: var(--ec-red);
    --red-360: #1eff00;
    --red-400: var(--ec-red);
    --red-500: color-mix(in oklch, var(--ec-red), black 10%); /* some hover which uses red as base button colour */
    --redesign-button-overlay-alpha-background: #5A4D5E8a;
    --redesign-button-overlay-alpha-pressed-background: #5A4D5E; 
    --redesign-input-control-selected: #C2A775;
    --scrollbar-auto-scrollbar-color-track: var(--ec-bg2);
    --scrollbar-auto-thumb: var(--ec-accent) !important;
    --scrollbar-auto-track: var(--ec-bg2);
    --scrollbar-thin-thumb: var(--ec-accent) !important;
    --scrollbar-thin-track: transparent;
    --selected-tab-item-color: var(--text-brand) !important;
    --spine-default: var(--ec-accent2) !important;
    --spoiler-hidden-background: #5eff00;
    --status-danger: var(--ec-red);
    --status-danger-background: var(--ec-red);
    --status-online: var(--ec-green);
    --status-idle: oklch(72.759% 0.09315 83.593);
    --status-positive-text: var(--ec-bg2);
    --text-brand: #ffca92 !important;
    --text-default: var(--ec-text1);
    --text-feedback-critical: var(--ec-red) !important;
    --text-feedback-positive: var(--ec-green);
    --text-feedback-warning: #BDBAEB !important;
    --text-muted: var(--ec-text3) !important;
    --text-link: #FFE1C1 !important;
    --text-link-low-saturation: var(--ec-accent);
    --text-positive: var(--ec-green) !important;
    --text-tertiary: var(--channels-default);
    --user-profile-overlay-background: var(--ec-bg1) !important;
    --white: var(--ec-text1);
    --white-500: var(--ec-bg2);
    --yellow-300: #BDBAEB;

    .messageContainer__95796, .messages__1ccd1, .messageGroupWrapper_e8b59c,
    .container__6764b,
    .container_e97453,
    .background__1fed1, .fieldList__1fed1 {
       background: var(--ec-bg1); 
    }

    .listContainer__527b1 .listElement__527b1,
    .badgeList__1fed1,
    .row_d13feb,
    .card__88264 {
       background-color: var(--ec-bg1); 
    }

    .guildStatusCopy_f9f04c {
       color: var(--ec-bg1) !important;
    }

    .folderIconContent__93fc9, .circleIconButton__5bc7e, .discoveryIcon_ef3116,
    .container_faa96b,
    .channelRow_e4503a, 
    .topicsScroller__0f481 {
        background: var(--ec-bg2);
    }

    .contentWrapper__9c62c, .container__7bdb0 {
        background-color: var(--ec-bg2);
    }

    .botTagVerified__82f07, .botText__82f07, .newBadge__48064, .textBadge__2b1f5, .tabBar__133bf .addFriend__133bf.addFriend__133bf.addFriend__133bf,
    .numberBadge__2b1f5, .iconBadge__650eb,
    .wrapper__6e9f8.selected__6e9f8 .childWrapper__6e9f8,
    .heading__6fd0e, .guildName_f9f04c, .tierCardCurrentTier_be48d0, .tierCardHeading_be48d0, .tierCardListItem_be48d0, .tierCardBoostRequirement_be48d0, .unavailableCounterPillText_a466a0,
    .lookFilled__201d5.colorRed__201d5, .lookFilled__201d5.colorGreen__201d5,
    .circleIconButton__5bc7e:hover {
        color: var(--ec-bg2) !important;
    }

    .shinyButton__6a443  .button__5d39a, .shinyButton__6a443 .upsellButton_c91f9c,
    .pause_d70e0d, .pencilIconWrapper__46773 { 
        color: var(--ec-bg2);
    }

    .childWrapperNoHoverBg__6e9f8, .pendingFolderButtonIcon__93fc9 { 
        --background-surface-higher: var(--ec-bg2) !important;
    }
    
    .side_aa8da2 .themed_aa8da2.selected_aa8da2.item_aa8da2 { 
        background: var(--background-modifier-selected) !important;
    }

    .tierCardListIcon_be48d0 { 
        --white: var(--ec-bg2);
    }

    .mentionsBar__7aaec {
        --status-danger-text: var(--ec-bg2);
    }

    .themedBackground__74017, .searchBar__97492, .wrapper__72c38  , .searchBar__5ec2f,
    .searchBar__1ac1c,
    .header_f369db,
    .joinOptions__959cb  { 
        background: var(--ec-bginput);
    }

    .bar__8e51c,
    .wrapper__72c38,
    .metadataContainer_c7f964 {
        background-color: var(--ec-bginput);
    }

    .appDetailsContainer__50a54,
    .connectContainer_c7f964, .connection_c7f964,
    .box_f8c98c,
    .pollContainer_b7e1cb,
    .onboardingStepContainer__28e57 { 
        background: var(--ec-bgcard);
    }
    
    .vc-shiki-btn:last-child,
    .folderGroupBackground__48112,
    .button_f563df { 
        background-color: var(--ec-button) !important; 
    }

    .button_f563df:hover { 
        background: var(--ec-button-hover) !important; 
    }

    /* colour for headers */
    .header__5cea9 { 
        background: oklch(49.459% 0.02061 289.113);
    }
    
    :where(.buttonInner_fb7f94).icon_fb7f94, .button__5d39a,
    .upsellButton_c91f9c,
    .iconWrapper__6eb54,
    .wrapper__926d7,
    .circleIconButton__5bc7e,
    .durationTimeWrapper_cf09d8,
    .buttonContainer__3ce43 .lookFilled__201d5.colorBrand__201d5,
    .message__9a9f9, .tooltipBlack__382e7 { 
        color: var(--ec-text1);
    }

    .lookFilled__201d5.colorPrimary__201d5,
    .wrapper__926d7 a:link,
    .newTopicsBarContainer__0f481 { 
        color: var(--ec-text1) !important;
    }

    .root_bfe55a,
    .colorable_f1ceac.primaryDark_f1ceac {
        --white-500: var(--ec-text1);
    }

    .caret_c1e9c4,
    .cozy_c19a55 .timestamp_c19a55,
    .name__20a53,
    .subText__20a53,
    .item_caf372, .defaultColor__5345c {
        color: var(--ec-text2) !important;
    }

    .searchIcon_d9be46 { 
        color: var(--ec-text3);
    }

    .side_aa8da2 .themed_aa8da2.item_aa8da2:hover:not(.disabled_aa8da2),
    .interactive_bf202d:hover,
    .navButton__08434:hover,
    .container_e97453:hover, .colorDefault_c1e9c4.focused_c1e9c4, 
    button.button__67645.enabled__67645:hover,
    .emojiItem_fc7141.emojiItemSelected_fc7141,
    .button__24af7:hover, .emojiButton__74017:hover, .attachButtonInner__0923f:hover, .button_e6e74f:hover { 
        background: var(--ec-hover1); 
    }

    .result__2dc39:hover:after {
        background: #CFC7D83E;
    }

    .barButtonAlt__0f481 {
        background-color: var(--ec-accent);
    }

    .shinyButton__6a443,
    .spineBorder__5b40b, .progress__8e51c { 
        background: var(--ec-accent2);
    }

    .notice__6e2b9 .button__6e2b9:hover {
        color: var(--ec-accent2) !important;
    }

    .barButtonAlt__0f481:hover {
        background-color: var(--ec-accent-hover);
    }

    .shinyButton__6a443:hover {
        background-color: var(--ec-accent2-hover);
    }

    .colorDanger_c1e9c4.focused_c1e9c4 {
      background: #c4957866 !important;
    }

    .botTag__5d473 {
        background: #B97A95;
    }

    .timestamp__75297, .sectionDivider__629e4,
    .bar_a562c8, .chipletContainerInner__10651 { 
        background: var(--ec-border) !important; 
    }
    
    .panels__5e434 { 
        border: 1px solid var(--ec-border)80;
        background: var(--ec-bgcard);
    }
 
    .barFill_a562c8, .grabber_a562c8, .akaBadge__488b1 {
        background: var(--control-brand-foreground-new);
    }

    .mention__3b95d, .mentionsBar__7aaec { 
        background-color: var(--checkbox-background-checked); 
    }

    .joinOptionContent__959cb.active__959cb { 
        background-color: #B17B93; 
        --interactive-active: var(--ec-bg2);
    }

    .vc-plugins-restart-button {
        color: var(--info-warning-foreground) !important;
    }

    .vc-plugins-restart-button:hover {
        color: var(--ec-bg2) !important;
    }

    .popoutContainer__0f481 {
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
        background-color: var(--ec-bgcard);
    }

    .button-danger-background {
        background-color: color-mix(in oklch, var(--ec-red), 90% transparent) !important;
        color: var(--ec-red) !important;
        border: 1px solid color-mix(in oklch, var(--ec-red), 40% transparent)!important
    }

    .button-danger-background:hover {
        background-color: color-mix(in oklch, var(--ec-red), 10% transparent) !important;
        color: var(--ec-bg2) !important;
        border: 1px solid color-mix(in oklch, var(--ec-red), 40% transparent)!important
    }

    .folderPreviewWrapper__48112 {
        background: #3A3743;
    }

    /* switches background */
    div[class^="container__3f21e"] {
      background-color: var(--ec-border) !important;
    }
    .container__3f21e.checked__3f21e {
        background-color: #C2A775 !important;
    }
    div[class^="control_"] > div[class^="container_"][class*="checked_"] {
      background-color: #C2A775 !important;
    }
    div[class^="vc-addon-card"] > div div[class^="container_"] {
      background-color: var(--ec-border);
    }
    div[class^="vc-addon-card"] > div div[class^="container_"][class*="checked_"] {
      background-color: #C2A775;
    }
    /* switches checkmark */
    [class*="checked_"] > svg > svg > path { 
      fill: #C2A775; 
    }
    /* switches white bit */
    div[class^=container_][class*=checked_] > svg > rect {
      fill: var(--ec-bg2); 
    }
    div[class^=vc-addon-card] > div div[class^=container_][class*=checked_] > svg > rect { 
      fill: var(--ec-bg2); 
    }
    
    .redGlow__67645 { 
        background-color: #c4957866 !important; 
    } 

    /* headers for connections */
    .guildSection_d5cd2d,
    /* .connectionHeader_c7f964, */
    .headerV2__50a54,
    .review_a9b452 { 
        background: oklch(0.38 0.0243 294.39); 
    }

    .largeCountdownPill_e270ac { 
        background-color: hsla(245, 9%, 27%); 
    }

    .unavailableCounterPill_a466a0 { 
        border: 1px solid var(--ec-bg2); 
    }

    .input__0ed4f:not([readOnly]):focus, .container_a45028:focus-within, .topicsDropdownBase__0f481,
    .addFriendInputWrapper__72ba7:focus-within,
    .header_f369db,
    .lookFilled__201d5.colorPrimary__201d5 { 
        border-color: var(--ec-border); 
    }

    .repliedMessageClickableSpine_c19a55 {
        border-color: #BF91A8;
    }

    .modeSelected__2ea32 .link__2ea32 { 
      box-shadow: inset 0 0 0 1px var(--ec-border) !important; 
    }

    .vc-gp-tab-bar, .vc-settings-tab-bar, .tabBar_d6f9e9, .tabBar_f8303a { 
        border-bottom: 2px solid var(--ec-border) !important; 
    }

    .freeTrialPillText_ac86f6.freeTrialPillTextInverted_ac86f6 { color: var(--premium-tier-2-purple-for-gradients); }

    .ownerIcon__5d473 { 
        color: #C39461; 
    }
    .premiumIcon__5d473 { 
        color: #F258A1; 
    }
    .numberBadge__2b1f5  { 
        --status-danger: #DFBE80; 
    }

    .textBadge__2b1f5 {
        background-color: var(--ec-red) !important;
    }

    .wrapper__0d1ef {
        background: #E492B94D;
        color: #E492B9;
    }

    [class*="updateIconForeground"] {
      fill: var(--ec-green);
    }

    .refreshIcon__88a69,
    .refreshIcon__88a69 { 
      fill: var(--ec-bg2); 
    }

    .nameAndDecorators__91a9d .botTagVerified__82f07 path[d^="M19.06"] { 
      fill: var(--ec-bg2); 
    }
    
    .checkboxWrapper_f525d3, .checkbox_f525d3.checked_f525d3 path[d^="M19.06"] { 
      fill: var(--ec-bg2); 
    }

    [class^="checkbox_"]>svg>path {
        fill: var(--ec-bg2);
    }
    
    .checkboxWrapper_f525d3, .checkIcon__270d7 path[d^="M21.7"] { 
      fill: var(--ec-bg2); 
    }

    .container__5b40b .spine__5b40b path[d^="M0 13H2c0"], path[d^="M6 18V16H9v2H6Zm3"] { 
      fill: var(--ec-accent2); 
    }
  
    .icon_a14595 path[d^="M23 12a11 11 0 1 1-22 0 11 11 0 0 1 22 0ZM7.74 9.3A2 2 0 0 1 9.3 7.75l7.22-1.45a1 1 0 0 1 1.18 1.18l-1.45 7.22a2 2 0 0 1-1.57 1.57l-7.22 1.45a1 1 0 0 1-1.18-1.18L7.74 9.3Z"] {
      fill: var(--ec-bg2); 
    }
    
    .botTagVerified__82f07 path[d="M19.06 6.94a1.5 1.5 0 0 1 0 2.12l-8 8a1.5 1.5 0 0 1-2.12 0l-4-4a1.5 1.5 0 0 1 2.12-2.12L10 13.88l6.94-6.94a1.5 1.5 0 0 1 2.12 0Z"] {
      fill: var(--ec-bg2); 
    }

    .topGuildEmojiBadge_aeaaeb { 
        background: linear-gradient(268.26deg,var(--ec-red), #B2814D); 
    }

    .newlyAddedBadge_aeaaeb { 
        background: linear-gradient(268.26deg, var(--ec-blue), #D1B681); 
    }

    .progress__0d0f9 {
        background: linear-gradient(270deg, var(--ec-pink) , var(--ec-purple));
    }

    .newlyAddedBadge_fc7141 { 
        background: #D1B681 !important; 
    }

    .newlyAddedHighlight_fc7141 { 
        border: 1px solid var(--ec-blue) !important;  
    }

    .permissionCheckmark__50a54 { background: url(https://mudrhiod.github.io/discord-iconpacks/vencord/72e4439bf318b5c5.svg) no-repeat; }

    .lockIcon__2666b { content: url(https://mudrhiod.github.io/discord-iconpacks/vencord/513846bd926efc73.svg); }

    /*.messagelogger-deleted { background-color: var(--ec-red)4d !important; }  vencord message logger deleted background */
    .messagelogger-deleted { --text-normal: var(--ec-red); --red-460: oklch(1 0 0); } /* vencord message logger deleted text */

    .vc-special-image { content: url(https://media.discordapp.net/stickers/1371999062122827928.webp?size=160&quality=lossless) !important };

    stop[stop-color="#E292AA"] {
        stop-color: var(--ec-purple) ;
    }
    stop[stop-color="#B473F5"] {
        stop-color: var(--ec-pink) ;
    }

    rect[fill='#82838b'], svg[fill='#82838b'] {
        fill: oklch(56.804% 0.03526 287.192);
    }
    .status_a423bd[style='background-color: rgb(130, 131, 139);'] {
        background-color: oklch(56.804% 0.03526 287.192) !important;
    }
    rect[fill='#43a25a'], svg[fill='#43a25a'] {
        fill: oklch(72.437% 0.08404 134.335);
    }
    .status_a423bd[style='background-color: rgb(67, 162, 90);'] {
        background-color: oklch(72.437% 0.08404 134.335) !important;
    }
    rect[fill='#ca9654'], svg[fill="#ca9654"] {
        fill: oklch(72.759% 0.09315 83.593);
    }
    .status_a423bd[style='background-color: rgb(202, 150, 84);'] {
        background-color: oklch(72.759% 0.09315 83.593) !important;
    }
    rect[fill='#d83a42'], svg[fill='#d83a42'] {
        fill: oklch(70.948% 0.06793 52.597);
    }
    .status_a423bd[style='background-color: rgb(216, 58, 66);'] {
        background-color: oklch(70.948% 0.06793 52.597) !important;
    }
    rect[fill='#9147ff'], svg[fill='#9147ff'] {
        fill: oklch(57.244% 0.09347 317.808);
    }
    .status_a423bd[style='background-color: rgb(145, 71, 255);'] {
        background-color: oklch(57.244% 0.09347 317.808) !important;
    }
    svg>path[fill='#43a25a'] {
      fill: var(--ec-green);
    }
  }